* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #1f2937;
    align-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 1rem;
    margin-right: 1rem;
}

.logo-image {
    width: 5rem;
    height: 5rem;
    margin-right: 15rem;
}

#intro-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 6rem 4rem 6rem;
    background-color: #1f2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

#information-section {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem 4rem 6rem;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.information-image {
    width: 12rem;
    height: 12rem;
    transition: transform .2s;
}

.information-image:hover {
    transform:scale(1.2);
}

.intro-text {
    font-size: 18px;
    color: #e5e7eb
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    margin-top: 1rem;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

table {
    border-collapse: separate;
    border-spacing: 3rem;
}

td {
    text-align: center;
    width: 10rem;
}

#quote-section {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem 4rem 6rem;
    align-items: center;
    background-color: #e5e7eb;
}

#quote-section q {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
}

#quote-author {
    margin-left: 70rem;
    font-weight: bold;
}

#call-to-action-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 3rem 2rem 3rem;
    margin: 4rem;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
}

#call-to-action-section button {
    border: 1px solid;
    border-color: #e5e7eb;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #1f2937;
    align-content: center;
    color: #e5e7eb;
}