* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
}

nav a {
    color: #e5e7eb;
}

nav a:hover{
    background-color: #364354;
    text-decoration: underline;
}

#intro-section {
    background-color: #1f2937;
}

.hero-main-text {
    font-weight: 700;
    color: #f9faf8;
}

.information-header {
    font-weight: 700;
    color: #1f2937;
}

.information-image {
    transition: transform .2s;
}

.information-image:hover {
    transform:scale(1.2);
}

.intro-text {
    color: #e5e7eb
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#quote-section {
    background-color: #e5e7eb;
}

#quote-section q {
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
}

#quote-author {
    font-weight: bold;
}

#call-to-action-section {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
}

#call-to-action-section button {
    border: 1px solid;
    border-color: #e5e7eb;
}

footer{
    background-color: #1f2937;
    color: #e5e7eb;
}

@media only screen and (min-width: 0px) {
    /*For mobile*/

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 2rem;
        padding-right: 2rem;
        align-content: center;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav a {
        font-size: 10px;
        padding: 0.5rem;
    }

    picture {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-image {
        width: 4rem;
        height: 4rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2rem;
        padding-bottom: 2rem;
        align-content: center;
        margin: 0;
    }

    #intro-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem 3rem 2rem 3rem;
    }
    
    .hero-main-text {
        font-size: 18px;
    }
    
    #information-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 4rem 6rem;
        align-items: center;
    }
    
    .information-header {
        font-size: 20px;
    }

    #cards-section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #cards-section>figure {
        margin: 10px;
    }
    
    .information-image {
        width: 10rem;
        height: 10rem;
    }
    
    .intro-text {
        font-size: 12px;
    }

    .intro-image {
        margin-top: 4rem;
        width: 100%;
    }
    
    button {
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    #quote-section {
        display: flex;
        flex-direction: column;
        padding: 1rem 3rem 2rem 3rem;
        align-items: center;
    }
    
    #quote-section q {
        font-size: 24px;
    }
    
    #quote-author {
        margin-left: 10rem;
        font-weight: bold;
    }
    
    #call-to-action-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 1rem 2rem 1rem;
        margin: 4rem;
    }
}

@media only screen and (min-width: 600px) {
    /*For tablet*/

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 2rem;
        padding-right: 2rem;
        align-content: center;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav a {
        font-size: 12px;
        padding: 1rem;
    }

    .logo-image {
        width: 5rem;
        height: 5rem;
        margin-right: 5rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2rem;
        padding-bottom: 2rem;
        align-content: center;
        margin: 0;
    }
    
    #intro-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2rem 6rem 4rem 6rem;
    }
    
    .hero-main-text {
        font-size: 48px;
    }
    
    #information-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 4rem 6rem;
        align-items: center;
    }

    #cards-section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #cards-section>figure {
        margin: 10px;
    }
    
    .information-header {
        font-size: 36px;
    }
    
    .information-image {
        width: 14rem;
        height: 14rem;
    }
    
    .intro-text {
        font-size: 18px;
    }

    .intro-image {
        margin-top: 4rem;
        width: 100%;
    }
    
    button {
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    #quote-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 4rem 6rem;
        align-items: center;
    }
    
    #quote-section q {
        font-size: 36px;
    }
    
    #quote-author {
        margin-left: 30rem;
        font-weight: bold;
    }
    
    #call-to-action-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem 3rem 2rem 3rem;
        margin: 4rem;
    }
}

@media only screen and (min-width: 768px) {
    /*For Desktop*/
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 2rem;
        padding-right: 2rem;
        align-content: center;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav a {
        font-size: 18px;
        padding: 1rem;
    }

    .logo-image {
        width: 5rem;
        height: 5rem;
        margin-right: 5rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2rem;
        padding-bottom: 2rem;
        align-content: center;
        margin: 0;
    }
    
    #intro-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem 6rem 4rem 6rem;
    }
    
    .hero-main-text {
        font-size: 48px;
    }
    
    #information-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 4rem 6rem;
        align-items: center;
    }

    #cards-section {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 5rem;
    }

    #cards-section>figure {
        margin: 10px;
    }
    
    .information-header {
        font-size: 36px;
        margin-top: 5rem;
    }
    
    .information-image {
        width: 10rem;
        height: 10rem;
    }
    
    .intro-text {
        font-size: 18px;
    }

    .intro-image {
        width: 100%;
    }
    
    button {
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    #quote-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 4rem 6rem;
        align-items: center;
    }
    
    #quote-section q {
        font-size: 36px;
    }
    
    #quote-author {
        margin-left: 40rem;
        font-weight: bold;
    }
    
    #call-to-action-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem 3rem 2rem 3rem;
        margin: 4rem;
    }
}