* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
}

body {
    background-color: rgb(169, 214, 200);
}

nav a {
    color: #e5e7eb;
}

nav a:hover{
    background-color: #364354;
    text-decoration: underline;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
}

.text-header {
    display: flex;
    flex-direction: row;
}

#introduction-section {
    background-color:  rgb(169, 214, 200);
}

.imagination-text {
    font-weight: bold;
    -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
      color: rgb(23, 23, 60);
    }
    10% {
      color: #6f1397;
    }
    20% {
      color: #ffffff;
    }
    30% {
      color: #ed6639;
    }
    40% {
      color: rgb(68, 68, 125);
    }
    50% {
      color: #4988c7;
    }
    60% {
      color: rgb(184, 184, 190);
    }
    70% {
      color: #42284b;
    }
    80% {
      color: #d6b52e;
    }
    90% {
      color: #304c5e;
    }
    100% {
      color: rgb(231, 135, 103);
    }
  }

.webdesign-main-text {
    color: #1f2937;
}

#webdesign-text {
    color: rgb(169, 214, 200);
}

#whylearn-text {
    color: rgb(169, 214, 200);
}

.image-link {
    background-color: #1f2937;
}

#motivate-text {
    color: white;
    background: linear-gradient(to left, salmon 50%, rgb(169, 214, 200) 50%) right;
}

#motivate-text:hover {
    background-position: left;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #fff;
}

.card-expl {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #fff;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.card a {
    background-color: #3882f6;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
}

.card a:hover {
    background-color: #4b4a4a;
}

.flip-card {
    background-color: transparent;
}
  
.flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front {
    background-color: #1f2937;
    color: black;
}
  
.flip-card-back {
    background-color: #e5e7eb;
    color: #1f2937;
    transform: rotateY(180deg);
}

#tech-title {
    color: #1f2937;
}

@media only screen and (min-width: 0px) {

    /* For Mobile: */
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 2rem;
        padding-right: 2rem;
        align-content: center;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav a {
        font-size: 10px;
        padding: 0.5rem;
    }

    picture {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-image {
        width: 4rem;
        height: 4rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2rem;
        padding-bottom: 2rem;
        align-content: center;
        margin: 0;
    }

    picture {
        padding: 0px;
    }

    #introduction-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 4rem 2rem 4rem;
        margin-top: 3rem;
        align-items: center;
    }

    .image-introduction {
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .webdesign-main-text {
        font-size: 28px;
        font-weight: 700;
        margin-top: 2.4rem;
        text-align: center;
    }

    #webdesign-text {
        text-align: center;
        padding: 1rem;
        font-size: 18px;
    }

    #whylearn-text {
        text-align: center;
        font-size: 24px;
        margin-top: 2rem;
    }

    .image-link {
        width: 20rem;
        height: 40rem;
        padding: 1rem;
        align-self: center;
        display: flex;
        flex-direction: column;
    }

    #motivate-text {
        background-size: 200%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 18px;
        font-weight: 800;
        text-align: center;
    }
    
    #explore-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 4rem 2rem 4rem;
        align-items: center;
    }
    
    table {
        border-collapse: separate;
        border-spacing: 0rem;
    }

    td {
        text-align: center;
        width: 10rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        width: 7rem;
    }

    .card>img {
        border-radius: 5px 5px 0 0;
        margin-top: 1rem;
        height: 150px;
        width: 100%;
        object-fit: contain;
    }

    .card-content {
        padding: 20px;
    }

    .card h3 {
        font-size: 1rem;
        margin-top: 0;
    }

    .card p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .card a {
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
    }

    #course-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 4rem 2rem 4rem;
        align-items: center;
    }

    #links-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 4rem 6rem;
        align-items: center;
        margin-top: 2rem;
    }

    .flip-card {
        width: 3rem;
        height: 3rem;
        perspective: 1000px;
    }

    .logo-flip-card {
        width: 3rem;
        height: 3rem;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        font-size: 8px;
    }

    #tech-title {
        position: absolute;
        font-size: 18px;
        font-weight: 800;
        margin-top: -4rem;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {

    /* For tablet: */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 2rem;
        padding-right: 2rem;
        align-content: center;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav a {
        font-size: 12px;
        padding: 1rem;
    }

    .logo-image {
        width: 5rem;
        height: 5rem;
        margin-right: 5rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2rem;
        padding-bottom: 2rem;
        align-content: center;
        margin: 0;
    }

    picture {
        padding: 0px;
    }

    #introduction-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 4rem 2rem 4rem;
        margin-top: 3rem;
        align-items: center;
    }

    .webdesign-main-text {
        font-size: 38px;
        font-weight: 700;
        margin-top: 2.4rem;
    }

    .imagination-text {
        font-size: 38px;
        margin-top: 2rem;
        font-weight: bold;
        -webkit-animation: colorchange 20s infinite alternate;
        text-align: center;
    }

    #webdesign-text {
        text-align: center;
        font-size: 18px;
    }

    #whylearn-text {
        text-align: center;
        font-size: 20px;
        margin-top: 1rem;
    }

    .text-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-link {
        width: 35rem;
        height: 95rem;
        padding: 1rem;
        align-self: center;
        display: flex;
        flex-direction: column;
        margin-top: -5rem;
    }

    #motivate-text {
        background-size: 200%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 0rem;
        font-size: 28px;
        font-weight: 800;
        text-align: center;
    }

    .course-explanation {
        display: flex;
        flex-direction: column;
    }

    .tech-logo {
        display: flex;
        flex-wrap: wrap;
        margin-top: -80rem;
        width: 200px;
        margin-left: 20rem;
    }

    .tech-logo > div {
        margin: 10px;
        text-align: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        width: 20rem;
        margin-top: 5.5rem;
    }

    .card>img {
        border-radius: 5px 5px 0 0;
        margin-top: 1rem;
        height: 180px;
        width: 100%;
        object-fit: contain;
    }

    .card-expl {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        width: 37rem;
        margin-top: 5rem;
        align-items: center;
    }

    .card-expl.numb-2 {
        margin-top: 4.5rem;
    }

    .card-content {
        padding: 20px;
    }

    .card h3 {
        font-size: 1.4rem;
        margin-top: 0;
    }

    .card p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .card a {
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        border-radius: 10px;
    }

    .card-expl h3 {
        font-size: 1.4rem;
        margin-top: 0;
    }

    .card-expl p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .card-expl a {
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        border-radius: 10px;
    }

    #course-section {
        display: flex;
        flex-direction: row;
        padding: 2rem 4rem 2rem 4rem;
        align-items: center;
    }

    #links-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 4rem 6rem;
        align-items: center;
        margin-top: 5rem;
    }

    .flip-card {
        width: 185px;
        height: 185px;
        perspective: 1000px;
    }

    .logo-flip-card {
        width: 185px;
        height: 185px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        font-size: 18px;
    }

    .down-line {
        background-color: #1f2937;
        padding-bottom: 0.5rem;
        margin-top: 3rem;
    }

    .up-line {
        background-color: #1f2937;
        margin-top: 5rem;
        padding-bottom: 0.5rem;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 2rem;
        padding-right: 2rem;
        align-content: center;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav a {
        font-size: 18px;
        padding: 1rem;
    }

    .logo-image {
        width: 5rem;
        height: 5rem;
        margin-right: 5rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2rem;
        padding-bottom: 2rem;
        align-content: center;
        margin: 0;
        margin-top: 6rem;
    }

    picture {
        padding: 0px;
    }

    #introduction-section {
        display: flex;
        flex-direction: row;
        padding: 2rem 0rem 1rem 0rem;
        margin-top: 3rem;
        align-items: center;
    }

    .image-introduction {
        width: 38rem;
        height: 25rem;
        margin-top: 2.3rem;
        margin-right: 0rem;
    }

    .webdesign-main-text {
        font-size: 48px;
        font-weight: 700;
        margin-left: 13.5rem;
        margin-top: 4rem;
    }

    .imagination-text {
        font-size: 48px;
        margin-left: -5.5rem;
        margin-top: 8rem;
        font-weight: bold;
        -webkit-animation: colorchange 20s infinite alternate;
    }

    #webdesign-text {
        font-size: 18px;
        text-align: center;
    }

    #whylearn-text {
        font-size: 28px;
        margin-top: 5rem;
        text-align: center;
    }

    .image-link {
        width: 28rem;
        height: 100rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        margin-left: 13.5rem;
        margin-top: -5rem;
        align-items: center;
    }

    #motivate-text {
        background-size: 200%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 0rem;
        font-size: 28px;
        font-weight: 800;
        text-align: center;
    }

    .course-explanation {
        display: flex;
        flex-direction: column;
    }

    .tech-logo {
        display: flex;
        flex-wrap: wrap;
        margin-top: -8.7rem;
        width: 710px;
    }

    .tech-logo > div {
        margin: 10px;
        text-align: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        width: 20rem;
        margin-top: 5.5rem;
    }

    .card>img {
        border-radius: 5px 5px 0 0;
        margin-top: 1rem;
        height: 180px;
        width: 100%;
        object-fit: contain;
    }

    .card-expl {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        width: 37rem;
        margin-top: 5rem;
        align-items: center;
    }

    .card-expl.numb-2 {
        margin-top: 4.5rem;

    }

    .card-content {
        padding: 20px;
    }

    .card h3 {
        font-size: 1.4rem;
        margin-top: 0;
    }

    .card p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .card a {
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        border-radius: 10px;
    }

    .card-expl h3 {
        font-size: 1.4rem;
        margin-top: 0;
    }

    .card-expl p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .card-expl a {
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        border-radius: 10px;
    }

    #course-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 4rem 2rem 4rem;
        align-items: center;
    }

    #links-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 4rem 6rem;
        align-items: center;
        margin-top: 5rem;
    }

    .flip-card {
        width: 185px;
        height: 185px;
        perspective: 1000px;
    }

    .logo-flip-card {
        width: 185px;
        height: 185px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        font-size: 18px;
    }

    .down-line {
        background-color: #1f2937;
        padding-bottom: 0.5rem;
        margin-top: -1rem;
    }

    .up-line {
        background-color: #1f2937;
        margin-top: 5rem;
        padding-bottom: 0.5rem;
    }
}

