* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
}

nav a {
    color: #e5e7eb;
}

nav a:hover {
    background-color: #364354;
    text-decoration: underline;
}


#intro-section {
    background-color: #1f2937;
}

#information-section {
    color: #f9faf8;
}

form {
    border-color: #1f2937;
    border: 2px solid;
}

.form-header-text {
    color: #1f2937;
}

.form-main-text {
    color: #1f2937;
}

body {
    color: #e5e7eb;
}

input,
select,
textarea,
button {
    color: #1f2937;
}

.input-groups {
    color: #1f2937;
}

.button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.2);
    background-color: #3882f6;
    box-shadow: inset 4px 4px 4px rgba(80, 80, 80, 0.2);
    text-shadow: none;
}

.button,
select {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.contact-form {
    color: #1f2937;
}

.form-container {
    background-color: #e5e7eb;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container input,
textarea {
    border: 1px solid #1f2937;
    border-radius: 4px;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
}

@media only screen and (min-width: 0px) {

    /* For mobile: */
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 2rem;
        padding-right: 2rem;
        align-content: center;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav a {
        font-size: 10px;
        padding: 0.5rem;
    }

    picture {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-image {
        width: 4rem;
        height: 4rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2rem;
        padding-bottom: 2rem;
        align-content: center;
        margin: 0;
    }

    picture {
        padding: 0px;
    }

    #intro-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem 3rem 2rem 3rem;
    }

    .intro-text {
        margin-top: 2rem;
    }

    #intro-section div {
        margin-left: 0rem;
    }

    #information-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 4rem 6rem;
        align-items: center;
    }

    #form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        padding: 1rem;
        margin: 2rem;
    }

    .form-header-text {
        font-size: 48px;
        font-weight: 700;
    }

    .form-main-text {
        font-size: 18px;
        font-weight: 700;
    }

    body {
        font-size: 18px;
    }

    input,
    select,
    textarea,
    button {
        font-size: 18px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .input-groups {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        font-size: 18px;
    }

    .button {
        font-size: 1.2em;
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .button,
    select {
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        align-items: center;
    }

    .banner-image {
        max-width: 100%;
        height: auto;
    }

    .contact-form {
        padding: 40px 0;
        margin: 0 10px;
    }

    .form-container {
        max-width: 90%;
        margin: 0 auto;
        padding: 20px;
    }

    .contact-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-container label {
        display: block;
        font-weight: bold;
    }

    .form-container input,
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 1rem;
        resize: vertical;
    }

    .input-groups.level {
        margin-right: 0rem;
        display:flex;
        flex-direction: column;
        align-self: center;
    }

    .intro-image {
        margin-right: 0rem;
        width: 22rem;
    }
}

@media only screen and (min-width: 600px) {

    /* For desktop: */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 2rem;
        padding-right: 2rem;
        align-content: center;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav a {
        font-size: 12px;
        padding: 1rem;
    }

    .logo-image {
        width: 5rem;
        height: 5rem;
        margin-right: 5rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2rem;
        padding-bottom: 2rem;
        align-content: center;
        margin: 0;
    }

    picture {
        padding: 0px;
    }

    #intro-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem 6rem 4rem 6rem;
    }

    .intro-text {
        margin-top: 2rem;
    }

    #intro-section div {
        margin-left: 11rem;
    }

    #information-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 4rem 6rem;
        align-items: center;
    }

    #form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        padding: 1rem;
        margin: 2rem;
    }

    .form-header-text {
        font-size: 48px;
        font-weight: 700;
    }

    .form-main-text {
        font-size: 18px;
        font-weight: 700;
    }

    body {
        font-size: 18px;
    }

    input,
    select,
    textarea,
    button {
        font-size: 18px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .input-groups {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        font-size: 18px;
    }

    .button {
        font-size: 1.2em;
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .button,
    select {
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        align-items: center;
    }

    .banner-image {
        max-width: 100%;
        height: auto;
    }

    .contact-form {
        padding: 40px 0;
        margin: 0 10px;
    }

    .form-container {
        max-width: 80%;
        margin: 0 auto;
        padding: 20px;
    }

    .contact-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-container label {
        display: block;
        font-weight: bold;
    }

    .form-container input,
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 1rem;
        resize: vertical;
    }

    .input-groups.level {
        margin-right: 4rem;
    }

    .intro-image {
        margin-right: 6rem;
        width: 22rem;
    }

    #robbu-whatsapp-button {
        margin-right: 2rem;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 2rem;
        padding-right: 2rem;
        align-content: center;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav a {
        font-size: 18px;
        padding: 1rem;
    }

    .logo-image {
        width: 5rem;
        height: 5rem;
        margin-right: 5rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2rem;
        padding-bottom: 2rem;
        align-content: center;
        margin: 0;
    }

    picture {
        padding: 0px;
    }

    #intro-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem 6rem 4rem 6rem;
    }

    .intro-text {
        margin-top: 2rem;
    }

    #intro-section div {
        margin-left: 11rem;
    }

    #information-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 4rem 6rem;
        align-items: center;
    }

    #form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        padding: 1rem;
        margin: 2rem;
    }

    .form-header-text {
        font-size: 48px;
        font-weight: 700;
    }

    .form-main-text {
        font-size: 18px;
        font-weight: 700;
    }

    body {
        font-size: 18px;
    }

    input,
    select,
    textarea,
    button {
        font-size: 18px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .input-groups {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        font-size: 18px;
    }

    .button {
        font-size: 1.2em;
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .button,
    select {
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        align-items: center;
    }

    .banner-image {
        max-width: 50%;
        height: auto;
    }

    .contact-form {
        padding: 40px 0;
        margin: 0 10px;
    }

    .form-container {
        max-width: 60%;
        margin: 0 auto;
        padding: 20px;
    }

    .contact-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-container label {
        display: block;
        font-weight: bold;
    }

    .form-container input,
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 1rem;
        resize: vertical;
    }

    .input-groups.level {
        margin-right: 4rem;
    }

    .intro-image {
        margin-right: 6rem;
        width: 22rem;
    }

}